{% extends 'base.html' %}

{% load static %}

{% block title %}Email style{% endblock %}

{% block css %}
	<link href="{% static 'plugins/jvectormap-next/jquery-jvectormap.css' %}" rel="stylesheet" />
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/jvectormap-next/jquery-jvectormap.min.js' %}"></script>
	<script src="{% static 'plugins/jvectormap-content/world-mill.js' %}"></script>
	<script src="{% static 'plugins/apexcharts/dist/apexcharts.min.js' %}"></script>
	<script src="{% static 'js/demo/dashboard.demo.js' %}"></script>
{% endblock %}

