{% extends 'base.html' %}

{% load static %}

{% block title %}Product{% endblock %}

{% block css %}
	<link href="{% static 'plugins/jvectormap-next/jquery-jvectormap.css' %}" rel="stylesheet" />
	<style>
        html, body {
            height: 100%;
            overflow-y: auto; /* Always show vertical scrollbar */
        }
        .app-content {
            min-height: 101vh; /* Slightly more than viewport height */
        }
    </style>
{% endblock %}

{% block js %}
	<script src="{% static 'plugins/jvectormap-next/jquery-jvectormap.min.js' %}"></script>
	<script src="{% static 'plugins/jvectormap-content/world-mill.js' %}"></script>
	<script src="{% static 'plugins/apexcharts/dist/apexcharts.min.js' %}"></script>
	<script src="{% static 'js/demo/dashboard.demo.js' %}"></script>
{% endblock %}

